.white{
    color:white !important;
}

.aktuelnosti{
    padding: 1px 1px 0px 20px !important;
    border:none !important;
}

.aktuelnosti-margin{
    margin-bottom: auto !important;
}

.h5-margin{
    margin: auto !important;
}

.news-background {
    background: #f7f7f7;
}

.news-bottom {
    padding-bottom: 10px !important;
}

.news-top {
    padding-top: 10px;
}
.blue {
    color: #41b7d8;
}

.red {
    color: #28156e;
}

.border-no{
    border:none !important;
}

.red2 {
    color: red;
}

.white {
    color: white;
}

.blue {
   background-color: #28156e !important;
}

.black {
    color: black;
}

.stroke{
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
  }

.azure{
   background-color: white;
}