/* --------------------------------------------------------------------------
 * Epicon         : Multipurpose Minimalist Business HTML5 Template
 *  
 * file           : revolution-responsive.css
 * Version        : 1.0
 * Date           : 27/11/2014
 * Author         : Epicon - team
 * Author URI     : http://indonez.com
 *
 * Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
/* Notebook */
@media only screen and (max-width: 1280px) {
  /* your responsive css here */
}
/* Tablet Landscape */
@media only screen and (max-width: 1024px) {
  .slider4-caption1 {
    margin-left: 35px;
  }

  .slider4-caption2 {
    margin-top: 10px;
  }

  .slider4-caption4 {
    margin-left: 50px;
    margin-top: 15px;
  }

  .slider5-caption1 {
    margin-top: -120px;
  }
}
/* Table Potrait */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .slider1-caption1 h1, .slider1-caption2 h1,
  .slider2-caption1 h1, .slider2-caption2 h1 {
    font-size: 42px !important;
  }

  .slider1-caption3 p,
  .slider2-caption3 p {
    font-size: 14px !important;
  }

  .slider3-box {
    margin-top: -18px !important;
  }

  .slider3-caption1,
  .slider3-caption2 {
    margin-top: -3px !important;
  }

  .slider4-caption1 h1 {
    font-size: 56px !important;
  }

  .slider4-caption2 h1 {
    font-size: 66px !important;
  }

  .slider4-caption3 {
    margin-left: -55px !important;
  }
  .slider4-caption3 p {
    font-size: 14px !important;
  }

  .slider4-caption4 {
    margin-top: 12px !important;
  }
  .slider4-caption4 span {
    font-size: 132px !important;
  }

  .slider5-caption3 p {
    font-size: 14px !important;
  }

  .slider5-caption4 {
    margin-left: -30px !important;
  }
}
/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .slider1-caption1 h1, .slider1-caption2 h1,
  .slider2-caption1 h1, .slider2-caption2 h1 {
    font-size: 28px !important;
  }

  .slider1-caption3 p,
  .slider2-caption3 p {
    font-size: 10px !important;
  }

  .slider3-box {
    margin-top: -27px !important;
  }

  .slider4-caption1 h1 {
    font-size: 34px !important;
  }

  .slider4-caption2 h1 {
    font-size: 46px !important;
  }

  .slider4-caption3 {
    margin-left: -50px !important;
  }
  .slider4-caption3 p {
    font-size: 10px !important;
  }

  .slider4-caption4 {
    margin-top: 15px !important;
    margin-left: 10px !important;
  }
  .slider4-caption4 span {
    font-size: 132px !important;
  }

  .slider5-caption3 p {
    font-size: 10px !important;
  }

  .slider5-caption4 {
    display: none !important;
  }
}
/* Mobile Potrait */
@media only screen and (min-width: 0px) and (max-width: 479px) {
  .slider1-caption1 h1, .slider1-caption2 h1,
  .slider2-caption1 h1, .slider2-caption2 h1 {
    font-size: 16px !important;
  }

  .slider1-caption3 p,
  .slider2-caption3 p {
    font-size: 5px !important;
  }

  .slider1-caption4,
  .slider2-caption4 {
    display: none;
  }

  .slider3-box {
    height: 34px !important;
  }

  .slider4-caption1 h1 {
    font-size: 16px !important;
  }

  .slider4-caption2 {
    margin-left: 45px !important;
  }
  .slider4-caption2 h1 {
    font-size: 16px !important;
  }

  .slider4-caption3 {
    margin-left: -25px !important;
    margin-top: -15px !important;
  }
  .slider4-caption3 p {
    font-size: 5px !important;
  }

  .slider4-caption4 {
    margin-top: -5px !important;
    margin-left: 5px !important;
  }
  .slider4-caption4 span {
    font-size: 42px !important;
  }

  .slider5-caption3 p {
    font-size: 5px !important;
  }

  .slider5-caption4 {
    display: none !important;
  }
}
