@font-face {
	font-family: 'social-icon';
	src:url('../font/social-icon.eot?ver1');
	src:url('../font/social-icon.eot?#iefixver1') format('embedded-opentype'),
		url('../font/social-icon.woff?ver1') format('woff'),
		url('../font/social-icon.ttf?ver1') format('truetype'),
		url('../font/social-icon.svg?ver1#social-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="socicon-"], [class*="socicon-"] {
	font-family: 'social-icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.socicon-lastfm:before {
	content: "\f100";
}
.socicon-500px:before {
	content: "\f101";
}
.socicon-instagram:before {
	content: "\f102";
}
.socicon-path:before {
	content: "\f103";
}
.socicon-vine:before {
	content: "\f104";
}
.socicon-youtube11:before {
	content: "\f105";
}
.socicon-slideshare:before {
	content: "\f106";
}
.socicon-tripadvisor:before {
	content: "\f107";
}
.socicon-android:before {
	content: "\f108";
}
.socicon-evernote:before {
	content: "\f109";
}
.socicon-envato:before {
	content: "\f10a";
}
.socicon-facebook:before {
	content: "\f10b";
}
.socicon-foursquare:before {
	content: "\f10c";
}
.socicon-yahoo:before {
	content: "\f10d";
}
.socicon-yelp:before {
	content: "\f10e";
}
.socicon-feedburner:before {
	content: "\f10f";
}
.socicon-linkedin:before {
	content: "\f110";
}
.socicon-viadeo:before {
	content: "\f111";
}
.socicon-xing:before {
	content: "\f112";
}
.socicon-myspace:before {
	content: "\f113";
}
.socicon-soundcloud:before {
	content: "\f114";
}
.socicon-grooveshark:before {
	content: "\f115";
}
.socicon-vimeo:before {
	content: "\f116";
}
.socicon-dailymotion:before {
	content: "\f117";
}
.socicon-flickr:before {
	content: "\f118";
}
.socicon-technorati:before {
	content: "\f119";
}
.socicon-reddit:before {
	content: "\f11a";
}
.socicon-stumbleupon:before {
	content: "\f11b";
}
.socicon-digg:before {
	content: "\f11c";
}
.socicon-behance:before {
	content: "\f11d";
}
.socicon-delicious:before {
	content: "\f11e";
}
.socicon-deviantart:before {
	content: "\f11f";
}
.socicon-forrst:before {
	content: "\f120";
}
.socicon-play:before {
	content: "\f121";
}
.socicon-zerply:before {
	content: "\f122";
}
.socicon-wikipedia:before {
	content: "\f123";
}
.socicon-apple:before {
	content: "\f124";
}
.socicon-flattr:before {
	content: "\f125";
}
.socicon-github:before {
	content: "\f126";
}
.socicon-chimein:before {
	content: "\f127";
}
.socicon-friendfeed:before {
	content: "\f128";
}
.socicon-newsvine:before {
	content: "\f129";
}
.socicon-identica:before {
	content: "\f12a";
}
.socicon-bebo:before {
	content: "\f12b";
}
.socicon-zynga:before {
	content: "\f12c";
}
.socicon-steam:before {
	content: "\f12d";
}
.socicon-xbox:before {
	content: "\f12e";
}
.socicon-window:before {
	content: "\f12f";
}
.socicon-outlook:before {
	content: "\f130";
}
.socicon-coderwall:before {
	content: "\f131";
}
.socicon-netcodes:before {
	content: "\f132";
}
.socicon-lanyrd:before {
	content: "\f133";
}
.socicon-buffer:before {
	content: "\f134";
}
.socicon-vkontakte:before {
	content: "\f135";
}
.socicon-disqus:before {
	content: "\f136";
}
.socicon-joomla:before {
	content: "\f137";
}
.socicon-envelope-alt:before {
	content: "\f138";
}
.socicon-envelope:before {
	content: "\f139";
}
.socicon-twitter:before {
	content: "\f13a";
}
.socicon-pinterest:before {
	content: "\f13b";
}
.socicon-googleplus:before {
	content: "\f13c";
}
.socicon-tumblr:before {
	content: "\f13d";
}
.socicon-wordpress:before {
	content: "\f13e";
}
.socicon-dribbble:before {
	content: "\f13f";
}
.socicon-rss:before {
	content: "\f140";
}
.socicon-share:before {
	content: "\f141";
}
.socicon-skype:before {
	content: "\f142";
}
.socicon-youtube:before {
	content: "\f143";
}
.socicon-picasa:before {
	content: "\f144";
}
.socicon-googledrive:before {
	content: "\f145";
}
.socicon-blog:before {
	content: "\f146";
}
.socicon-spotify:before {
	content: "\f147";
}
