/* --------------------------------------------------------------------------
 * Indonez  	: Epicon - Multipurpose Minimalist Business HTML5 Template
 *
 * file         : style.css
 * Author       : indonez - team
 * Author URI   : http://indonez.com
 *
 * Indonez Copyright 2014 All Rights Reserved.
 * -------------------------------------------------------------------------- */
@import url("http://fonts.googleapis.com/css?family=Raleway:400,700,800");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,700");
@import url("http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911");
@import url("http://fonts.googleapis.com/css?family=Pinyon+Script");
@import url("animate.css");
@import url("font-awesome.css");
@import url("social-icon.css");
@import url("owl-carousel.css");
@import url("fancybox.css");
@import url("smartmenu.css");
/* --------------------------------------------------------------------------
 ---Epicon Stylesheet table of Content
 	1. Global
 	2. Datepicker
 	3. List
 	4. Button
 	5. Input form
 	6. Header
 	7. Menu Navigation
	8. Heading Title
	9. Slideshow
	10. Slider Carousel
	11. Box Icon and Icon Shape
	12. Panel
	13. Video Background
	14. Testimonial
	15. Client Logo
	16. Blog
	17. Sidebar
	18. Audio
	19. Attachment Link
	20. Sharing Box
	21. Counter Section
	22. Footer
	23. Page Header
	24. Tab and Accordion
	25. Circle Bar
	26. Promobox
	27. Contact
	28. Portfolio
	29. Image Caption
	30. Twitter Widget
	31. Pagination
	32. Comment List
	33. Domain Form
	34. Service List
	35. Pricing Plan
	36. CMS Support Box
	37. Reservation Form
	38. Hotel Post
	39. Hotel Facilities
	40. Event List
	41. Map Hotel
	42. Hotel Information List
	43. Panel Subscribe
	44. Hotel Gallery Slider
	45. Scroll Up
	46. Icon List
-------------------------------------------------------------------------- */
/* Global */
html, body {
  height: 100%;
}

body {
  background: azure;
  color: #848484;
  padding: 0;
  margin: 0;
  font: 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  position: relative;
  z-index: 0;
  cursor: default;
  overflow-x: hidden;
}
u
a {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

a:hover {
  color: #72d3d8;
}

/* Safari */
::selection {
  background: #ffa95f;
  color: #fff;
}

/* Firefox */
::-moz-selection {
  background: #ffa95f;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #434343;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
}

.row {
  max-width: 1130px !important;
}

.container, .container-fluid {
  padding: 40px 0;
}

.clear {
  clear: both;
}

p.lead {
  font-size: 22px;
  font-family: 'Goudy Bookletter 1911', serif;
  line-height: 32px;
}

.highlight {
  padding: 2px 5px 3px 5px;
  background: #ff8d2c;
  color: #fff;
  vertical-align: baseline;
}

hr {
  background: #dedede;
}

.inner-container {
  *zoom: 1;
  margin: 0 15px;
}
.inner-container:before, .inner-container:after {
  content: " ";
  display: table;
}
.inner-container:after {
  clear: both;
}

.epicon-italic {
  font-family: Georgia, serif;
  font-style: italic;
}

.epicon-color {
  color: #ff8d2c;
}

.epicon-shadow {
  -webkit-box-shadow: 3px 3px 0px 0px #f2f2f2;
  -moz-box-shadow: 3px 3px 0px 0px #f2f2f2;
  box-shadow: 3px 3px 0px 0px #f2f2f2;
}

.epicon-strong {
  font-weight: 800;
  text-transform: uppercase;
}

.epicon-img-box {
  background: #f7f7f7 url(../img/pattern-img-box.png) repeat repeat;
  padding: 14px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dedede;
}

.parallax {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover !important;
  background-attachment: fixed !important;
}

#main-container {
  background: #fff;
  *zoom: 1;
}
#main-container:before, #main-container:after {
  content: " ";
  display: table;
}
#main-container:after {
  clear: both;
}
#main-container.box {
  max-width: 1180px;
  height: auto !important;
  position: relative;
  margin: 20px auto;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0 !important;
}

.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.img-left {
  float: left;
  border: none;
  margin: 3px 16px 11px 0;
}

.img-right {
  float: right;
  border: none;
  margin: 3px 0 11px 16px;
}

.img-center {
  display: block;
  margin: 5px auto 11px;
}

.inline-list {
  margin-left: 0;
}
.inline-list li {
  display: inline;
  margin-right: 30px;
}

.table th {
  background: #ff8d2c;
  color: #fff;
}

.dropcap {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 46px;
  color: #434343;
  float: left;
  margin: 14px 17px 12px 0;
  padding: 0;
}
.dropcap.circle, .dropcap.square {
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  margin: 8px 12px 0 0;
  background: #ff8d2c;
}
.dropcap.circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

pre {
  display: block;
  padding: 12px 16px 12px 16px;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 19px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  background: url(../img/pre_bg.gif) repeat 0px -8px;
  font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
  color: #8c8c8c;
}

blockquote {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  padding: 5px 0 0 32px;
  color: #b3b3b3;
}
blockquote:before {
  font-size: 16px;
  left: 1px;
  top: 3px;
  color: #c8c8c8;
  font-style: normal;
}
blockquote cite {
  font-size: 18px;
  font-style: normal;
  margin-top: 24px;
  display: inline-block;
}
blockquote cite:before {
  width: 13px;
  background-color: #b3b3b3;
}
blockquote p {
  font-size: 18px;
  color: #a1a0a0;
}

.breadcrumb {
  margin: 0px;
  list-style: none;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}

.breadcrumb > .active {
  color: #999999;
}

/* Datepicker */
.datepicker {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 10px 20px 16px 20px;
  margin: -26px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.datepicker thead {
  font-weight: bold;
}
.datepicker td, .datepicker th {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background: #ff8d2c;
  *background-color: #ff8d2c;
}
.datepicker td span {
  width: 54px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled],
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  background: #ff8d2c;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* List */
.list-number {
  margin-left: 1.5em;
}

.list-circle-check {
  list-style-type: none;
}
.list-circle-check li:before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f471';
  margin-right: 9px;
  position: relative;
  top: 0px;
  float: left;
  font-size: 11px;
}
.list-circle-check ul {
  margin-bottom: 0 !important;
}
.list-circle-check ul li {
  list-style-type: none;
}
.list-circle-check li, .list-circle-check a {
  color: inherit;
}
.list-circle-check a:hover {
  color: #ffa95f;
}
.list-circle-check ul {
  margin-left: 1.25em;
}

.list-arrow {
  list-style-type: none;
}
.list-arrow li:before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f488';
  margin-right: 9px;
  position: relative;
  top: 0px;
  float: left;
  font-size: 11px;
}
.list-arrow ul {
  list-style: none;
  margin-left: 1.25em;
  margin-bottom: 0 !important;
}
.list-arrow li, .list-arrow a {
  color: inherit;
}
.list-arrow a:hover {
  color: #ffa95f;
}

.list-arrow-circle {
  list-style-type: none;
}
.list-arrow-circle li:before {
  font-family: 'WebHostingHub-Glyphs';
  content: '\f3c9';
  margin-right: 9px;
  position: relative;
  top: 0px;
  float: left;
  font-size: 12px;
}
.list-arrow-circle ul {
  list-style: none;
  margin-left: 1.25em;
  margin-bottom: 0 !important;
}
.list-arrow-circle li, .list-arrow-circle a {
  color: inherit;
}
.list-arrow-circle a:hover {
  color: #ffa95f;
}

.no-bullet {
  list-style: none;
}
.no-bullet ul {
  list-style: none;
  margin-left: 1.25em;
  margin-bottom: 0 !important;
}

.disc {
  margin-left: 1.25em;
}
.disc ul {
  margin-left: 1.25em;
  margin-bottom: 0 !important;
}

.square {
  margin-left: 1.25em;
  list-style: square;
}
.square ul {
  list-style: square;
  margin-left: 1.25em;
  margin-bottom: 0 !important;
}

/* Button */
.button {
  font-size: 12px;
  background: #ff8d2c;
  font-weight: bold;
  text-transform: uppercase;
  padding: 13px 23px;
}
.button:hover, .button:focus, .button:active, .button.active {
  background: #ffa95f;
}
.button.button-border {
  padding: 12px 26px;
  border: 2px solid #434343;
  color: #434344;
}
.button.button-border:hover {
  border-color: #696969;
  background: #696969;
}
.button.button-border.white {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
}
.button.button-border.white:hover {
  background: #fff;
  color: #ffa95f;
}
.button.link:hover {
  color: #fff;
}
.button.small {
  font-size: 10px;
  padding: 10px 14px;
}
.button.large {
  padding: 15px 28px;
  font-size: 16px;
}

.button.green {
  background: #41c28a;
}
.button.green:hover, .button.green:focus {
  background: #68cea2;
}
.button.blue {
  background: #29a7e4;
}
.button.blue:hover, .button.blue:focus {
  background: #56baea;
}
.button.yellow {
  background: #f1c40f;
}
.button.yellow:hover, .button.yellow:focus {
  background: #f4d03f;
}
.button.red {
  background: #f15c44;
}
.button.red:hover, .button.red:focus {
  background: #f58573;
}
.button.grey {
  background: #95a5a6;
}
.button.grey:hover, .button.grey:focus {
  background: #b1bdbd;
}

.button-detail {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  line-height: 11px;
  color: #888888;
  border-left: 2px solid #eaeaea;
  border-right: 2px solid #eaeaea;
  padding: 12px 26px;
  position: relative;
}
.button-detail:hover {
  color: #ffa95f;
}

.button.button-group {
  text-transform: none;
  position: relative;
  margin-right: 38px;
}
.button.button-group span {
  font-weight: normal;
  background: #ff7f13;
  height: 45px;
  width: 45px;
  position: absolute;
  top: -1px;
  text-align: center;
  line-height: 45px;
  left: 100%;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.button.button-group i {
  margin-left: 0;
  top: 0px;
}
.button.button-group:hover span, .button.button-group:focus span, .button.button-group:active span, .button.button-group.active span {
  background: #ffa95f;
}
.button.button-group.small {
  font-size: 12px;
  padding: 9px 14px;
}
.button.button-group.small span {
  width: 38px;
  height: 38px;
  line-height: 38px;
}
.button.button-group.large span {
  width: 53px;
  height: 53px;
  line-height: 53px;
}

/* Input form */
.input-group, .form-group {
  margin-bottom: 26px;
}

.input-group-addon {
  font-size: 13px;
  color: #bebebe;
}

.form-control {
  font-family: "Open Sans", sans-serif;
  border-color: #dedede;
  font-size: 13px;
  font-weight: 300;
  border-color: #dadada;
  color: #989898;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  border-color: #ff8d2c;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 44, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 44, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 141, 44, 0.6);
}
.form-control::-moz-placeholder {
  color: #989898;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #989898;
}
.form-control::-webkit-input-placeholder {
  color: #989898;
}

textarea.form-control {
  font-family: "Open Sans", sans-serif;
}

/* Header */
header {
  position: relative;

}

.header-info {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  background: azure;
  border-bottom: 1px solid #dedede;
  border-top: 4px solid #ff8d2c;
  display: inline-block;
  width: 100%;
}
.header-info i {
  position: relative;
  top: 1px;
  margin-right: 4px;
  font-size: 11px;
}
.header-info ul {
  margin-bottom: -1px;
}
.header-info ul li {
  border-right: 1px solid #dedede;
  display: inline-block;
  padding: 11px 20px 13px 16px;
  margin-right: 0;
}
.header-info .left-info {
  float: left;
}
.header-info .left-info li:last-child {
  border-right: none;
}
.header-info .right-info {
  float: right;
  color: #989898;
}
.header-info .right-info li {
  border: none;
}
.header-info .language-flag a {
  margin-right: 10px;
}
.header-info .language-flag a:last-child {
  margin-right: 0;
}

.login-container {
  border-right: 1px solid #dedede !important;
  border-left: 1px solid #dedede !important;
}

.login-form-container {
  display: none;
  min-width: 450px;
  padding: 30px;
  position: relative;
}
.login-form-container h4 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}
.login-form-container .button {
  margin-bottom: 0;
}
.login-form-container .checkbox {
  margin: 0;
}
.login-form-container .checkbox_flat {
  color: #ff8d2c;
  top: -6px;
}
.login-form-container .input-group:last-child {
  margin-bottom: 0;
}

.login {
  color: inherit;
}
.login:hover {
  color: #ffa95f;
}

.search-container {
  margin-bottom: 0 !important;
  float: left;
}
.search-container .search-input {
  height: 28px;
  font-size: 13px;
  font-family: inherit;
  border: none;
  box-shadow: none;
  padding-right: 0;
  color: #989898;
  padding-top: 0;
  padding-bottom: 0;
  background: inherit;
}
.search-container .search-input:focus {
  border-color: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-container .input-group {
  margin-bottom: 0;
}
.search-container .input-group-addon {
  height: 28px;
  font-size: 12px;
  line-height: 25px;
  color: inherit;
}
.search-container .input-group-addon i {
  margin-right: 0;
}

.header-container {
  min-height: 112px;
  margin-top: -8px;
  position: relative;
  border-bottom: 1px solid #dedede;
}

.logo-container {
  display: inline-block;
  padding: 37px 0;
}
.logo-container img {
  background: #ff8d2c;
  margin-right: 6px;
  width: 40px;
  height: 40px;
}
.logo-container a {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  color: #a1a1a1;
}

.social-icon {
  display: inline-block;
  float: right;
  padding: 43px 0;
}
.social-icon a {
  color: #686868;
}
.social-icon a:hover {
  color: #ffa95f;
}
.social-icon ul {
  margin-bottom: 0;
}
.social-icon ul li {
  margin-right: 20px;
}
.social-icon ul li:last-child {
  margin-right: 25px;
}
.social-icon.social-contact {
  float: left;
  padding-top: 0;
  font-size: 17px;
}

/* Menu Navigation */
.navigation-container {
  display: inline-block;
  float: right;
  height: 113px;
  width: 86px;
  text-align: center;
  background: #474747;
  margin-top: 1px;
}

.menu-trigger {
  padding: 41px 0;
  height: 113px;
}
.menu-trigger i {
  position: relative;
  top: -7px;
}
.menu-trigger a {
  color: #ffffff;
}
.menu-trigger:hover {
  cursor: pointer;
}

.menu-container {
  display: none;
  float: right;
  padding: 36px 0;
  z-index: 999;
}

#menu {
  position: relative !important;
  z-index: 999;
  width: auto;
  float: left;
}

#menu ul {
  width: 12em;
}

/* Heading Title */
.heading-title {
  margin-bottom: 28px;
}
.heading-title.line {
  border-left: 2px solid #ff8d2c;
  padding-left: 13px;
}
.heading-title.bottom-line {
  border-left: none;
}
.heading-title.bottom-line .title {
  margin: 0 auto;
}
.heading-title.bottom-line:after {
  content: "";
  width: 96px;
  height: 4px;
  position: relative;
  display: inline-block;
  background: #ff8d2c;
}
.heading-title span {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16px;
  display: block;
  color: #afafaf;
}

header + #slideshow-container {
  margin-top: -2px;
  z-index: 88;
}

/* Slideshow */
#slideshow-container {
  padding: 0;
  margin: 0;
  float: left;
}
#slideshow-container .inner-container {
  position: relative;
}
#slideshow-container .tp-rightarrow.default,
#slideshow-container .tp-leftarrow.default {
  width: 44px;
  height: 40px;
  background: #fff;
  text-align: center;
  border-right: 4px solid #ff8d2c;
}
#slideshow-container .tp-rightarrow.default:hover:before,
#slideshow-container .tp-leftarrow.default:hover:before {
  color: #ffa95f;
}
#slideshow-container .tp-leftarrow.default:before,
#slideshow-container .tp-rightarrow.default:before {
  font-family: 'WebHostingHub-Glyphs';
  content: "\f489";
  position: relative;
  color: #434343;
  line-height: 40px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
#slideshow-container .tp-rightarrow.default:before {
  font-family: 'WebHostingHub-Glyphs';
  content: "\f488";
}

.slideshow {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  background: #ff8d2c;
}
.slideshow .tp-bannertimer {
  background: rgba(0, 0, 0, 0.1);
  height: 4px;
}
.slideshow .slider1-caption1 h1, .slideshow .slider1-caption2 h1,
.slideshow .slider2-caption1 h1, .slideshow .slider2-caption2 h1 {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
}
.slideshow .slider1-caption2 h1,
.slideshow .slider2-caption2 h1 {
  opacity: 0.7;
}
.slideshow .slider1-caption3 p,
.slideshow .slider2-caption3 p {
  font-weight: 300;
  font-size: 18px;
  opacity: 0.35;
  color: #000;
}
.slideshow .slider1-caption4 .button-slide1,
.slideshow .slider1-caption4 .button-slide2,
.slideshow .slider2-caption4 .button-slide1,
.slideshow .slider2-caption4 .button-slide2,
.slideshow .slider5-caption4 .button-slide1,
.slideshow .slider5-caption4 .button-slide2 {
  text-transform: none;
  font-weight: bold;
  font-size: 14px;
  text-shadow: none;
  font-family: "Raleway", sans-serif;
  padding: 11px 17px;
  display: inline-block;
  line-height: 1.42857;
  background: #ff8d2c;
  color: #fff;
}
.slideshow .slider1-caption4 .button-slide1 i,
.slideshow .slider1-caption4 .button-slide2 i,
.slideshow .slider2-caption4 .button-slide1 i,
.slideshow .slider2-caption4 .button-slide2 i,
.slideshow .slider5-caption4 .button-slide1 i,
.slideshow .slider5-caption4 .button-slide2 i {
  font-weight: 300;
  margin-left: 3px;
  position: relative;
  top: 2px;
}
.slideshow .slider1-caption4 .button-slide1:hover,
.slideshow .slider1-caption4 .button-slide2:hover,
.slideshow .slider2-caption4 .button-slide1:hover,
.slideshow .slider2-caption4 .button-slide2:hover,
.slideshow .slider5-caption4 .button-slide1:hover,
.slideshow .slider5-caption4 .button-slide2:hover {
  background: #ffa95f;
}
.slideshow .slider2-caption1 h1,
.slideshow .slider2-caption2 h1,
.slideshow .slider2-caption3 p {
  color: #fff;
}
.slideshow .slider3-box {
  background: rgba(255, 169, 95, 0.6);
  width: 100%;
  height: 115px;
}
.slideshow .slider3-caption1, .slideshow .slider3-caption2 {
  font-family: "Raleway", sans-serif;
  font-size: 60px;
  text-transform: uppercase;
  color: #fff;
}
.slideshow .slider3-caption2 {
  font-weight: 800;
}
.slideshow .slider4-caption1 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
}
.slideshow .slider4-caption2 h1 {
  font-family: "Raleway", sans-serif;
  font-size: 88px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.slideshow .slider4-caption3 p {
  font-weight: 300;
  font-size: 18px;
  text-align: right;
  color: rgba(255, 255, 255, 0.35);
}
.slideshow .slider4-caption4 span {
  font-family: "Raleway", sans-serif;
  font-size: 180px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 800;
  text-transform: uppercase;
}
.slideshow .slider5-caption1,
.slideshow .slider5-caption2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-size: 200px;
}
.slideshow .slider5-caption2 {
  font-size: 60px;
  color: #fff;
}
.slideshow .slider5-caption3 p {
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.35);
}
.slideshow .slider5-caption4 .button-slide2 {
  position: relative;
  height: 45px;
  padding: 14px 17px;
}
.slideshow .slider5-caption4 .button-slide2 i {
  top: 0;
  margin-left: 0;
}
.slideshow .slider5-caption4 .button-slide2:hover span {
  background: #ffa95f;
}
.slideshow .slider5-caption4 span {
  top: 0;
  right: -45px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  position: absolute;
  background: #ff7f13;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.slideshow .slider6-caption1 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 36px;
}
.slideshow .slider6-caption2 {
  font-family: "Pinyon Script", cursive;
  font-size: 140px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 2px;
}

#content-home-bg1, #content-home-bg2 {
  padding-top: 53px;
  padding-bottom: 45px;
  background: url(../img/bg-content-home.png) no-repeat no-repeat center center;
}

#content-home-bg2 {
  padding-top: 0;
  padding-bottom: 0;
}

#features {
  border-top: 4px solid #ff8d2c;
  margin-bottom: 40px;
}
#features .column {
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding: 45px 30px 25px 30px;
  background: #f7f7f7;
}
#features .column:last-child {
  border-right: none;
}
#features p {
  margin: 0;
}
#features .button {
  top: 47px;
  margin: 0;
  position: relative;
}
#features .button.small {
  top: 43px;
}

/* Slider Carousel */
#home-slider .heading-title {
  margin-bottom: 40px;
}

.home-slider-nav, .clientsay-slider-nav, .blog-carousel-nav, .team-slider-nav, .hotel-slider-nav, .blog-slider-nav {
  display: inline-block;
  float: right;
  margin-top: -104px;
  position: relative;
  z-index: 3;
}
.home-slider-nav .left-nav, .clientsay-slider-nav .left-nav, .blog-carousel-nav .left-nav, .team-slider-nav .left-nav, .hotel-slider-nav .left-nav, .home-slider-nav .right-nav, .clientsay-slider-nav .right-nav, .blog-carousel-nav .right-nav, .team-slider-nav .right-nav, .hotel-slider-nav .right-nav, .blog-slider-nav .left-nav, .blog-slider-nav .right-nav {
  display: inline-block;
  border: 4px solid #636363;
  height: 32px;
  width: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-nav .left-nav:hover, .clientsay-slider-nav .left-nav:hover, .blog-carousel-nav .left-nav:hover, .team-slider-nav .left-nav:hover, .hotel-slider-nav .left-nav:hover, .home-slider-nav .right-nav:hover, .clientsay-slider-nav .right-nav:hover, .blog-carousel-nav .right-nav:hover, .team-slider-nav .right-nav:hover, .hotel-slider-nav .right-nav:hover, .blog-slider-nav .left-nav:hover, .blog-slider-nav .right-nav:hover {
  border-color: #ffa95f;
  cursor: pointer;
}
.home-slider-nav .left-nav:hover i, .clientsay-slider-nav .left-nav:hover i, .blog-carousel-nav .left-nav:hover i, .team-slider-nav .left-nav:hover i, .hotel-slider-nav .left-nav:hover i, .home-slider-nav .right-nav:hover i, .clientsay-slider-nav .right-nav:hover i, .blog-carousel-nav .right-nav:hover i, .team-slider-nav .right-nav:hover i, .hotel-slider-nav .right-nav:hover i, .blog-slider-nav .left-nav:hover i, .blog-slider-nav .right-nav:hover i {
  color: #ffa95f;
}
.home-slider-nav .left-nav, .clientsay-slider-nav .left-nav, .blog-carousel-nav .left-nav, .team-slider-nav .left-nav, .hotel-slider-nav .left-nav, .blog-slider-nav .left-nav {
  margin-right: 11px;
}
.home-slider-nav i, .clientsay-slider-nav i, .blog-carousel-nav i, .team-slider-nav i, .hotel-slider-nav i, .blog-slider-nav i {
  color: #636363;
  top: -1px;
  position: relative;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-nav.white .left-nav, .white.clientsay-slider-nav .left-nav, .white.blog-carousel-nav .left-nav, .white.team-slider-nav .left-nav, .white.hotel-slider-nav .left-nav, .home-slider-nav.white .right-nav, .white.clientsay-slider-nav .right-nav, .white.blog-carousel-nav .right-nav, .white.team-slider-nav .right-nav, .white.hotel-slider-nav .right-nav, .blog-slider-nav.white .left-nav, .blog-slider-nav.white .right-nav {
  border-color: #ffffff;
}
.home-slider-nav.white i, .white.clientsay-slider-nav i, .white.blog-carousel-nav i, .white.team-slider-nav i, .white.hotel-slider-nav i, .blog-slider-nav.white i {
  color: #ffffff;
}

.home-slider-item {
  position: relative;
}
.home-slider-item .overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.03);
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-item .image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  height: 66px;
  opacity: 0;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-item .image-caption h5, .home-slider-item .image-caption .detail {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  position: absolute;
  opacity: 0;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-item .image-caption .preview, .home-slider-item .image-caption .permalink {
  color: #fff;
  position: absolute;
  font-size: 14px;
  width: 33px;
  height: 33px;
  background: #434343;
  line-height: 33px;
  text-align: center;
  opacity: 0;
  bottom: 0;
  left: -moz-calc(50% - (33px + 5px));
  left: -webkit-calc(50% - (33px + 5px));
  left: -o-calc(50% - (33px + 5px));
  left: calc(50% - (33px + 5px));
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.home-slider-item .image-caption .preview:hover, .home-slider-item .image-caption .permalink:hover {
  color: #434343;
  background: #fff;
}
.home-slider-item .image-caption .permalink {
  left: -moz-calc(50% + 5px);
  left: -webkit-calc(50% + 5px);
  left: -o-calc(50% + 5px);
  left: calc(50% + 5px);
}
.home-slider-item .image-caption h5 {
  margin: 0;
  left: 27px;
  bottom: 0;
}
.home-slider-item .image-caption .detail {
  right: 27px;
  bottom: 0;
}
.home-slider-item .image-caption .detail:hover {
  color: #ffa95f;
}
.home-slider-item .image-caption .detail i {
  top: 2px;
  margin-left: 8px;
  position: relative;
  font-weight: 300;
}
.home-slider-item:hover .overlay {
  opacity: 0;
}
.home-slider-item:hover .image-caption {
  opacity: 1;
}
.home-slider-item:hover h5, .home-slider-item:hover .detail {
  opacity: 1;
}
.home-slider-item:hover h5 {
  bottom: 22px;
}
.home-slider-item:hover .detail {
  bottom: 20px;
}
.home-slider-item:hover .preview, .home-slider-item:hover .permalink {
  bottom: -moz-calc(50% - (33px / 2));
  bottom: -webkit-calc(50% - (33px / 2));
  bottom: -o-calc(50% - (33px / 2));
  bottom: calc(50% - (33px + / 2));
  opacity: 1;
}

.clientsay-container {
  margin: 0 -15px;
}
.clientsay-container .item {
  padding: 0 17px;
}
.clientsay-container .testimonial-item.clientsay {
  margin-top: 0;
}

.testimonial-item.clientsay {
  margin-top: 20px;
}
.testimonial-item.clientsay img {
  width: 62px;
  height: 62px;
}
.testimonial-item.clientsay .testimonial-container {
  border-top: none;
  margin-left: 78px;
  padding-top: 11px;
}
.testimonial-item.clientsay .testimonial-container h5 {
  margin: 0;
  margin-bottom: -5px;
}
.testimonial-item.clientsay .testimonial-container:before {
  content: none;
}
.testimonial-item.clientsay .testimonial-text {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 18px;
  background: #fbfbfb;
  border: 1px solid #dedede;
  text-align: left;
  padding: 18px 28px 15px 30px;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}
.testimonial-item.clientsay .testimonial-text p {
  color: #a1a0a0;
  font-weight: normal;
}
.testimonial-item.clientsay .testimonial-text p:before {
  font-family: "Goudy Bookletter 1911", serif;
  content: "\201D";
  font-size: 90px;
  font-weight: bold;
  color: #e6e6e6;
  position: absolute;
  top: 36px;
  right: 40px;
  z-index: -1;
}
.testimonial-item.clientsay .testimonial-text:before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 50px;
  bottom: -16px;
  border: 8px solid transparent;
  border-left: 8px solid #dedede;
  border-top: 8px solid #dedede;
}
.testimonial-item.clientsay .testimonial-text:after {
  content: "";
  position: absolute;
  z-index: 3;
  left: 51px;
  bottom: -13px;
  border: 8px solid transparent;
  border-left: 8px solid #fbfbfb;
  border-top: 8px solid #fbfbfb;
}
.testimonial-item.clientsay span {
  text-transform: uppercase;
}

/* Box Icon and Icon Shape */
.icon-shape.circle,
.icon-shape.square,
.icon-shape.radius,
.text-shape.circle,
.text-shape.square,
.text-shape.radius {
  background: #d7d7d7;
}

.box-icon .icon-shape {
  width: 64px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto;
}
.box-icon .icon-shape.stroke {
  border-color: #d7d7d7;
}
.box-icon .icon-shape.stroke i {
  line-height: 58px;
  font-size: 30px;
  color: #cecece;
}
.box-icon .icon-shape i {
  font-size: 24px;
  line-height: 64px;
}
.box-icon .title-box {
  margin-bottom: 12px;
}
.box-icon .icon-container {
  margin-bottom: 7px;
}
.box-icon.small .icon-shape {
  width: 32px;
  height: 32px;
  line-height: 28px;
  background: #ff8d2c;
}
.box-icon.small i {
  font-size: 14px;
  line-height: 32px;
}
.box-icon.small .title-box {
  margin: 10px 0 20px 45px;
}
.box-icon.small .text-container {
  margin-left: 0 !important;
}

.box-icon.left .text-container {
  margin-left: 84px;
}

.work-list ul {
  margin-top: 0;
}

#team-home {
  overflow: hidden;
}
#team-home img:first-child {
  float: left;
  z-index: 2;
  position: relative;
}
#team-home img:last-child {
  float: right;
  position: relative;
  margin-top: -459px;
  z-index: 1;
}

/* panel */
.panel.fold {
  margin-bottom: 46px;
  background: #ff8d2c;
}
.panel.fold:before {
  border-color: #fff #ee6d00 #fff #fff;
}
.panel.fold h1, .panel.fold h2, .panel.fold h3, .panel.fold h4, .panel.fold h5 {
  color: #fff;
}
.panel.fold.green {
  background: #41c28a;
}
.panel.fold.green:before {
  border-color: #fff #30966a #fff #fff;
}
.panel.fold.blue {
  background: #29a7e4;
}
.panel.fold.blue:before {
  border-color: #fff #1784b9 #fff #fff;
}
.panel.fold.yellow {
  background: #f1c40f;
}
.panel.fold.yellow:before {
  border-color: #fff #b8960b #fff #fff;
}
.panel.fold.grey {
  background: #95a5a6;
}
.panel.fold.grey:before {
  border-color: #fff #74898a #fff #fff;
}
.panel.fold.red {
  background: #f15c44;
}
.panel.fold.red:before {
  border-color: #fff #e72f11 #fff #fff;
}

#panel-home p {
  font-size: 16px;
}

/* Video Background */
.videobg-container {
  padding: 90px 0;
}
.videobg-container .button {
  margin: 0 13px;
}
.videobg-container .panel {
  border: none;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 0;
  padding: 38px 0 47px 0;
}
.videobg-container p {
  color: #434343;
}

.videobg-container {
  position: relative;
}

/* Testimonial */
#client-testimonial .inner-column {
  padding-top: 40px;
  min-height: 400px;
  border-bottom: 1px solid #dedede;
}
#client-testimonial .column:first-child {
  border-right: 1px solid #dedede;
}
#client-testimonial .client-logo-container {
  margin-right: -0.9375rem;
  padding-right: 0.9375rem;
}

.testimonial-slider-container {
  background: #f7f7f7 url(../img/bg-testimonial-home.png) top center repeat-y;
  margin-left: -0.9375rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

/* testimonial item */
.testimonial-item {
  position: relative;
}
.testimonial-item img {
  width: 96px;
  height: 96px;
  border: 3px solid #fff;
  float: left;
  position: relative;
  z-index: 3;
}
.testimonial-item .testimonial-container {
  border-top: 1px solid #ff8d2c;
  margin-left: 140px;
  padding-top: 5px;
  margin-top: 4px;
}
.testimonial-item .testimonial-container h5 {
  font-size: 18px;
  margin-bottom: 0;
}
.testimonial-item .testimonial-container span {
  font-size: 11px;
}
.testimonial-item .testimonial-container:before {
  font-family: Georgia, serif;
  content: "\201D";
  font-size: 90px;
  font-weight: bold;
  color: #434343;
  position: absolute;
  top: 24px;
  left: 74px;
  z-index: 2;
}
.testimonial-item .testimonial-text {
  clear: both;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  padding: 28px 38px 0;
  line-height: 34px;
  color: #6d6d6d;
}
.testimonial-item .testimonial-text p {
  margin-bottom: 0;
}

#testimonial-slider {
  padding: 0 30px;
  margin-bottom: 16px;
}
#testimonial-slider .owl-controls {
  margin-top: 45px;
}
#testimonial-slider .owl-controls .owl-page span {
  background: #a7a7a7;
}
#testimonial-slider .owl-controls .owl-page.active span, #testimonial-slider .owl-controls .owl-page:hover span {
  background: #ff8d2c;
}
#testimonial-slider .testimonial-item span {
  background: #fff;
  padding: 3px 10px 4px 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* client logo */
#client-logo {
  margin-top: -10px;
}
#client-logo li {
  position: relative;
  text-align: center;
}
#client-logo li:before {
  content: "";
  width: 2px;
  height: 15px;
  background: #dedede;
  position: absolute;
  left: -1px;
  bottom: 23px;
}
#client-logo li:after {
  content: "";
  height: 2px;
  width: 15px;
  background: #dedede;
  position: absolute;
  bottom: 14px;
  right: 8px;
}
#client-logo li img {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
#client-logo li:hover img {
  opacity: 0.8;
}
#client-logo li:nth-child(5):before, #client-logo li:nth-child(6):before {
  top: -7px;
}
#client-logo li:nth-child(5):after, #client-logo li:nth-child(6):after {
  left: 7px;
  top: -14px;
}
#client-logo li:first-child:before, #client-logo li:nth-child(4):before {
  content: none;
}
#client-logo li:nth-child(3):after, #client-logo li:nth-child(4):after {
  content: none;
}

/* Blog */
.blog-slider-nav {
  margin-top: 10px;
  float: left;
}

.blog-slider-container {
  margin: 0 -15px;
  width: -moz-calc(100% + 30px);
  width: -webkit-calc(100% + 30px);
  width: -o-calc(100% + 30px);
  width: calc(100% + 30px);
}

.blog-post-item {
  margin: 0 15px;
}
.blog-post-item .button-detail {
  float: right;
}

.blog-post-title h4 {
  margin-top: 18px;
  margin-bottom: 0;
}
.blog-post-title h4:hover {
  color: #ffa95f;
}

.blog-post-info {
  margin-bottom: 15px;
}
.blog-post-info li {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
}
.blog-post-info li:first-child {
  float: left;
}
.blog-post-info li:last-child {
  float: right;
}
.blog-post-info a {
  color: #ff8d2c;
}
.blog-post-info a:hover {
  color: #ffa95f;
}
.blog-post-info i {
  margin-right: 5px;
  top: 1px;
  position: relative;
}

.blog-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  margin-bottom: 33px;
  overflow: hidden;
}
.blog-video iframe {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article {
  margin-bottom: 72px;
}

.blog-info {
  float: left;
  width: 82px;
  margin-right: 38px;
  text-align: center;
}
.blog-info .image-blog-info {
  color: #fff;
  font-size: 32px;
  height: 90px;
  line-height: 90px;
  background: #ff8d2c;
}
.blog-info .date-blog-info {
  padding: 18px 0;
  height: 90px;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  color: #434343;
}
.blog-info .date-blog-info small {
  font-size: 18px;
  font-weight: normal;
  display: block;
  margin-top: 5px;
}

.blog-container {
  margin-left: 120px;
}
.blog-container h3 {
  font-size: 24px;
}

.post-info {
  margin-bottom: 0;
  padding: 8px 22px;
  font-size: 12px;
  background: #f7f7f7;
  border-top: 2px solid #ff8d2c;
  font-size: 13px;
}
.post-info i {
  color: #ff8d2c;
  margin-right: 7px;
  position: relative;
  top: 1px;
}
.post-info a {
  color: #989898;
}
.post-info a:hover {
  color: #ffa95f;
}
.post-info li {
  margin-right: 22px;
}
.post-info li:last-child {
  margin-right: 0;
  float: right;
}

.blog-media {
  margin-bottom: 30px;
}
.blog-media .blog-video {
  margin-bottom: 0;
}

.blog-carousel {
  margin-bottom: 0;
}

.blog-carousel-nav {
  margin-top: -46px;
  margin-right: 21px;
}

.single-blog a h3 {
  margin-bottom: 6px;
}
.single-blog .post-info {
  padding: 0;
  background: transparent;
  border-top: none;
  margin-bottom: 15px;
}
.single-blog blockquote {
  line-height: 28px;
  margin-bottom: 1.5em;
}

.blog-author {
  padding: 20px 20px 24px 20px;
  border: 1px solid #dedede;
  margin-bottom: 40px;
}
.blog-author img {
  float: left;
  margin-right: 20px;
  width: 90px;
  height: 90px;
}
.blog-author .author-description {
  margin-left: 110px;
}
.blog-author h4 {
  margin-top: 0;
  margin-bottom: 10px;
}
.blog-author p {
  margin-bottom: 0;
}
.blog-author .author-link {
  color: #ff8d2c;
}
.blog-author .author-link:hover {
  color: #ffa95f;
}

/* Sidebar */
aside {
  clear: both;
  margin-bottom: 48px;
}

aside .panel {
  text-align: center;
  margin-bottom: 0 !important;
}
aside .panel img {
  border: 3px solid #dedede;
}
aside .panel p {
  font-size: inherit;
}
aside .social-panel li {
  margin-right: 20px;
}
aside .social-panel a {
  color: #fff;
}
aside .social-panel a:hover {
  color: #dedede;
}

.inline-heading-line {
  font-size: 24px;
  position: relative;
  margin: 0 0 20px;
}
.inline-heading-line:before {
  content: "";
  background: #dedede;
  height: 2px;
  width: 100%;
  position: absolute;
  top: -moz-calc(50% - 1px);
  top: -webkit-calc(50% - 1px);
  top: -o-calc(50% - 1px);
  top: calc(50% - 1px);
  z-index: 2;
}
.inline-heading-line span {
  background: #fff;
  display: inline-block;
  padding-right: 20px;
  position: relative;
  z-index: 3;
}

.category-list, .archive-list {
  margin-bottom: 0;
}
.category-list li, .archive-list li {
  margin-bottom: 6px;
  position: relative;
  padding-left: 20px;
}
.category-list li a, .archive-list li a {
  color: inherit;
}
.category-list li a:hover, .archive-list li a:hover {
  color: #ffa95f;
}
.category-list li:before, .archive-list li:before {
  content: "";
  background: inherit;
  height: 4px;
  width: 12px;
  background: #929292;
  position: absolute;
  top: -moz-calc(50% - 2px);
  top: -webkit-calc(50% - 2px);
  top: -o-calc(50% - 2px);
  top: calc(50% - 2px);
  left: 0;
}
.category-list li:last-child, .archive-list li:last-child {
  margin-bottom: 0;
}

.popular-list {
  margin-bottom: 0;
}
.popular-list li {
  margin-bottom: 30px;
  display: inline-block;
  clear: both;
  width: 100%;
}
.popular-list li:last-child {
  margin-bottom: 0;
}
.popular-list img {
  float: left;
  width: 96px;
  height: 80px;
}
.popular-list .popular-description {
  margin-left: 120px;
}
.popular-list p {
  margin: 0;
}
.popular-list a {
  color: #ff8d2c;
}
.popular-list a:hover {
  color: #ffa95f;
}

.badge {
  background: #ff8d2c;
  color: #fff;
  font-size: 11px;
  padding: 5px 9px;
  margin-left: 6px;
}

.tag-cloud a {
  font-size: 11px;
  padding: 0px 9px 1px 9px;
  background: #ff8d2c;
  text-transform: uppercase;
  color: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}
.tag-cloud a:hover {
  color: #fff;
  background: #ffa95f;
}

.facebook-likepage {
  width: 100%;
  border: 1px solid #dedede;
  padding: 15px 22px 0 22px;
  float: left;
}
.facebook-likepage iframe {
  height: 258px;
  margin: 0 auto;
}

/* audio */
/* attachment link */
.attach-link {
  background: #f3f3f3;
  height: 90px;
  padding: 33px 0;
  text-align: center;
}
.attach-link a {
  font-family: "Goudy Bookletter 1911", serif;
  font-style: italic;
  font-size: 18px;
  color: #979696;
}
.attach-link a:hover {
  color: #ffa95f;
}

/* sharing-box */
.sharing-box .share-facebook {
  width: 200px;
  float: left;
  margin-top: 8px;
}
.sharing-box .social-icon {
  float: right;
  padding: 0;
}
.sharing-box .social-icon li {
  background: #ff8d2c;
  margin-right: 6px;
  height: 36px;
  width: 36px;
  display: inline-block;
  text-align: center;
  line-height: 39px;
  font-size: 16px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.sharing-box .social-icon a {
  color: #fff;
}
.sharing-box .social-icon li:last-child {
  margin-right: 0;
}
.sharing-box li.twitter-color:hover {
  background: #4da7de;
}
.sharing-box li.pinterest-color:hover {
  background: #c92619;
}
.sharing-box li.stumbleupon-color:hover {
  background: #e64011;
}
.sharing-box li.mail-color:hover {
  background: #578ad6;
}
.sharing-box li.googleplus-color:hover {
  background: #d93e2d;
}
.sharing-box li.rss-color:hover {
  background: #f26109;
}

/* Counter Section */
#count-corporate {
  margin-top: 0;
  border-top: 4px solid #ff8d2c;
}
#count-corporate li:before {
  content: "";
  width: 1px;
  background: #dedede;
  position: relative;
  display: inline-block;
  left: 50%;
  margin-bottom: -8px;
}
#count-corporate li:nth-child(1):before {
  height: 50px;
}
#count-corporate li:nth-child(2):before {
  height: 90px;
}
#count-corporate li:nth-child(3):before {
  height: 30px;
}
#count-corporate li:nth-child(4):before {
  height: 76px;
}
#count-corporate .icon-shape {
  width: 128px;
  height: 128px;
  line-height: 128px;
  background: #f7f7f7;
}
#count-corporate .icon-shape i {
  color: #636363;
  font-size: 44px;
  line-height: 120px;
}
#count-corporate .icon-shape.circle.stroke {
  border: 1px solid #dedede;
}
#count-corporate .icon-container {
  margin-bottom: 14px;
}
#count-corporate .title-box {
  font-size: 32px;
  margin-bottom: 0;
}
#count-corporate .text-container p {
  font-size: 11px;
  color: #ff8d2c;
  text-transform: uppercase;
  font-weight: bold;
}

/* footer */
footer {
  background: url(../img/bg-footer.png) top center;
  color: #949494;
  clear: both;
  padding-top: 64px;
  margin-top: 40px;
  float: left;
  width: 100%;
}
footer .title-footer {
  font-size: 16px;
}
footer .title-footer-brand {
  font-size: 24px;
}
footer i {
  color: #ff8d2c;
  font-size: 24px;
  margin-right: 8px;
  top: 5px;
  position: relative;
}
footer a {
  color: #949494;
}
footer a:hover {
  color: #ffa95f;
}
footer li, footer a, footer address, footer p {
  font-size: 14px;
  line-height: 24px;
}

.footer-logo {
  background: #ff8d2c;
  position: absolute;
  top: -64px;
  height: 40px;
  width: 40px;
}

.footer-info {
  margin-top: 50px;
  padding-top: 19px;
  padding-bottom: 19px;
  background: #474747;
  color: #dcdcdc;
  font-size: 13px;
}
.footer-info .inline-list {
  margin-bottom: 0;
}

.footer-menu a {
  padding: 4px 7px 5px 7px;
  color: inherit;
  font-size: 13px;
}
.footer-menu a.active {
  background: #ff8d2c;
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.footer-menu a.active:hover {
  background: #ffa95f;
}
.footer-menu li:last-child {
  margin-right: 0;
}

/* Page Header */
#page-header {
  padding-top: 0;
  padding-bottom: 0;
}
#page-header .inner-container {
  padding: 36px 16px 35px 0;
  background: url(../img/bg-page-header.jpg) no-repeat center;
}
#page-header h1 {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.8em;
  color: white;
}
#page-header + section {
  padding-top: 80px;
}
#page-header .breadcrumb {
  background: #434343;
  display: inline-block;
  font-size: 12px;
  padding: 1px 13px;
  margin-top: 15px;
}
#page-header .breadcrumb a {
  color: #fff;
}
#page-header .breadcrumb li.active {
  color: #ff8d2c;
}
#page-header .breadcrumb li:hover a {
  color: #ff8d2c;
}

/* Tab and Accordion */
.resp-tabs-list {
  margin-left: 0;
}
.resp-tabs-list li {
  font-size: 14px;
  padding: 13px 46px;
  border-color: #dedede;
  background: #fbfbfb;
}
.resp-tabs-list li.resp-tab-active, .resp-tabs-list li.resp-tab-active:hover {
  color: #929292;
  background: #fff;
  border-color: #dedede;
}

.resp-tab-content {
  border: none;
  box-shadow: none !important;
  padding: 27px 0;
}
.resp-tab-content .row {
  margin: 0;
}
.resp-tab-content .accordion-tab-column {
  margin: 0 -0.9375rem;
}

.resp-tabs-top .resp-tabs-list li,
.resp-tabs-bottom .resp-tabs-list li,
.resp-tabs-left .resp-tabs-list li,
.resp-tabs-right .resp-tabs-list li {
  margin-right: -1px;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.resp-tabs-top .resp-tabs-list li.resp-tab-active:before, .resp-tabs-top .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-left .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-left .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:hover:before {
  content: "";
  height: 3px;
  background: #ff8d2c;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
}
.resp-tabs-top .resp-tabs-list li:hover,
.resp-tabs-bottom .resp-tabs-list li:hover,
.resp-tabs-left .resp-tabs-list li:hover,
.resp-tabs-right .resp-tabs-list li:hover {
  color: #ff8d2c;
}
.resp-tabs-top .resp-tabs-list li i,
.resp-tabs-bottom .resp-tabs-list li i,
.resp-tabs-left .resp-tabs-list li i,
.resp-tabs-right .resp-tabs-list li i {
  top: 1px;
  font-size: 12px;
  margin-right: 5px;
  position: relative;
}

.resp-tabs-left .resp-tab-content,
.resp-tabs-right .resp-tab-content {
  padding: 0 27px;
}
.resp-tabs-left .resp-tabs-list li,
.resp-tabs-right .resp-tabs-list li {
  padding: 13px 20px;
  margin-bottom: -1px;
}
.resp-tabs-left .resp-tabs-list li.resp-tab-active:before, .resp-tabs-left .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:hover:before {
  content: "";
  width: 3px;
  background: #ff8d2c;
  height: -moz-calc(100% + 2px);
  height: -webkit-calc(100% + 2px);
  height: -o-calc(100% + 2px);
  height: calc(100% + 2px);
  display: block;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.resp-tabs-right .resp-tabs-list li {
  text-align: right;
}
.resp-tabs-right .resp-tabs-list li.resp-tab-active:before, .resp-tabs-right .resp-tabs-list li.resp-tab-active:hover:before {
  left: auto;
}

.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:before, .resp-tabs-bottom .resp-tabs-list li.resp-tab-active:hover:before {
  display: none;
}
.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:after, .resp-tabs-bottom .resp-tabs-list li.resp-tab-active:hover:after {
  content: "";
  height: 3px;
  background: #ff8d2c;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  display: block;
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.resp-accordion {
  margin-bottom: 20px;
}

.resp-accordion h4.resp-accordion,
h4.resp-accordion {
  -webkit-border-radius: 0;
  border-radius: 0;
}
.resp-accordion h4.resp-accordion i,
h4.resp-accordion i {
  position: relative;
  margin-right: 10px;
  top: 3px;
}
.resp-accordion h4.resp-accordion:hover,
h4.resp-accordion:hover {
  color: #ff8d2c;
}

.resp-accordion h4.resp-accordion {
  box-shadow: none;
  background: #fbfbfb;
}

h4.resp-accordion,
h4.resp-accordion.resp-tab-active,
h4.resp-accordion.resp-tab-active:hover {
  border-color: #dedede;
  background: #fff;
  color: #929292;
  font-size: 14px;
  padding: 13px 26px;
}

.resp-accordion h4.resp-accordion i,
h4.resp-accordion i {
  top: 1px;
}

h4.resp-accordion.resp-tab-active:before {
  content: "";
  height: 3px;
  background: #ff8d2c;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
}

h4.resp-accordion .resp-arrow,
.resp-tab-active .resp-arrow {
  top: 3px;
  position: relative;
}

h4.resp-accordion.resp-tab-active {
  background: #fff;
}
h4.resp-accordion.resp-tab-active:hover {
  color: #ff8d2c;
  background: #fff;
}

/* Circle Bar */
.circle-bar-container {
  background: #ff8d2c url(../img/bg-about-bar.png) no-repeat no-repeat center center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.circle-bar-container h3, .circle-bar-container h4, .circle-bar-container p {
  color: #fff;
  text-align: center;
}
.circle-bar-container .percent {
  font-family: "Raleway", sans-serif;
}
.circle-bar-container h3 {
  margin-bottom: 40px;
}

.chart-container {
  padding: 0 40px;
}

.team-slider-container {
  width: -moz-calc(100% + 30px);
  width: -webkit-calc(100% + 30px);
  width: -o-calc(100% + 30px);
  width: calc(100% + 30px);
}

.team-item .team-description {
  padding-right: 20px;
}
.team-item h4 {
  margin-top: 20px;
  margin-bottom: 3px;
}
.team-item span {
  text-transform: uppercase;
  font-size: 11px;
  color: #c6c6c6;
  margin-bottom: 13px;
}

.team-item.single-team {
  text-align: center;
  margin-bottom: 40px;
}
.team-item.single-team .social-icon {
  float: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 0;
}
.team-item.single-team .social-icon li {
  padding: 7px 9px;
  background: #ff8d2c;
  margin-right: 2px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.team-item.single-team .social-icon li:hover {
  background: #fff;
}
.team-item.single-team .social-icon li:hover a {
  color: #ffa95f;
}
.team-item.single-team .social-icon a {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.team-item.single-team .social-icon li:last-child {
  margin-right: 0;
}

.video-container {
  background: #4d4d4c url(../img/bg-content-video.png) no-repeat no-repeat center center;
  color: #fff;
  padding: 17px 0 80px 0;
}
.video-container h3 {
  color: #fff;
}
.video-container .blog-video {
  margin-top: 34px;
  margin-bottom: 0;
}

/* Promo Box */
.promo-box {
  border-color: #dedede;
}
.promo-box:before {
  background: #ff8d2c;
}
.promo-box.blue:before {
  background: #29a7e4;
}
.promo-box.green:before {
  background: #41c28a;
}
.promo-box.red:before {
  background: #f15c44;
}
.promo-box.yellow:before {
  background: #f1c40f;
}
.promo-box.grey:before {
  background: #95a5a6;
}

/* Contact */
#contact-form {
  background: #f7f7f7;
  padding: 0 49px;
}
#contact-form .loading {
  margin-left: 20px;
  position: absolute;
  background: url(../img/AjaxLoader.gif) no-repeat center center;
  min-height: 32px;
  min-width: 32px;
  display: none;
  top: 6px;
}
#contact-form .alert-box {
  margin-right: 0.9375rem;
  margin-left: 0.9375rem;
  display: none;
}
#contact-form .button {
  margin-bottom: 0;
}

.contact-info i {
  margin-right: 10px;
  color: #ff8d2c;
  position: relative;
  top: 2px;
}

#contact-information .inner-container {
  border-bottom: 1px solid #dedede;
}
#contact-information .inner-column {
  padding-top: 58px;
  padding-bottom: 20px;
  min-height: 508px;
}
#contact-information .column:last-child .inner-column {
  border-left: 1px solid #dedede;
}

.map-container {
  margin: 0;
}
.map-container #map {
  height: 436px;
  width: 100%;
}

/* Portfolio */
#portfolio-filter .button-border {
  font-weight: normal;
  padding: 8px 15px 11px 15px;
  border: 1px solid #dedede;
  color: #8e8e8e;
  text-transform: uppercase;
  font-weight: 800;
}
#portfolio-filter .button-border.selected, #portfolio-filter .button-border:hover {
  border: 1px solid #ffa95f;
  color: #ffa95f;
  background: transparent;
}
#portfolio-filter li {
  margin-right: 15px;
}

.portosingle-carousel {
  margin-bottom: 0;
}

.portfolio-container {
  width: -moz-calc(100% + 32px);
  width: -webkit-calc(100% + 32px);
  width: -o-calc(100% + 32px);
  width: calc(100% - + 32px);
  left: -1px;
  position: relative;
}
.portfolio-container .img-caption {
  margin: 0;
  padding: 0;
}
.portfolio-container .epicon-img-box {
  display: inline-block;
}

.portfolio-single-container .portfolio-container li {
  padding-bottom: 0;
}

/* image caption */
.img-caption .img-mask {
  background: #000;
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  filter: alpha(opacity=25);
}
.img-caption h4 {
  bottom: 0;
  position: absolute;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  color: #fff;
  padding: 0 30px;
  width: 100%;
  text-align: left;
  margin-bottom: 26px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.img-caption .img-content {
  opacity: 0;
  background: rgba(255, 141, 44, 0.7);
  height: 233px;
  position: absolute;
  top: -moz-calc(100% - 233px);
  top: -webkit-calc(100% - 233px);
  top: -o-calc(100% - 233px);
  top: calc(100% - 233px);
  text-align: left;
  padding: 27px 30px;
  color: #fff;
  z-index: 5;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.img-caption .img-content span {
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 34px;
  position: relative;
}
.img-caption .img-content p {
  margin: 0;
  font-size: 13px;
}
.img-caption .permalink {
  margin-left: 43px;
}
.img-caption .preview,
.img-caption .permalink {
  font-size: 14px;
  width: 33px;
  height: 33px;
  background: #434343;
  line-height: 33px;
  top: 100%;
}
.img-caption .preview:hover,
.img-caption .permalink:hover {
  background: #fff;
  color: #434343;
}
.img-caption:hover .img-mask {
  opacity: 0;
}
.img-caption:hover h4 {
  margin-bottom: 158px;
  z-index: 9;
}
.img-caption:hover .img-content {
  opacity: 1;
}
.img-caption:hover .preview,
.img-caption:hover .permalink {
  top: -moz-calc(100% - (33px + 27px));
  top: -webkit-calc(100% - (33px + 27px));
  top: -o-calc(100% - (33px + 27px));
  top: calc(100% - (33px + 27px));
}

/* twitter-widget */
#twitter-feed li {
  list-style: none;
}
#twitter-feed li:last-child .twitter-text {
  margin-bottom: 0;
}
#twitter-feed .tweet_list {
  margin-bottom: 0;
}
#twitter-feed .twitter-text {
  color: inherit;
  background: #f3f3f3;
  padding: 20px;
  font-size: 13px;
  margin-bottom: 15px;
}
#twitter-feed .twitter-text p {
  margin-bottom: 0;
}
#twitter-feed .twitter-text a, #twitter-feed .twitter-text .at {
  color: #ff8d2c;
}
#twitter-feed .twitter-text a:hover, #twitter-feed .twitter-text a:focus, #twitter-feed .twitter-text .at:hover, #twitter-feed .twitter-text .at:focus {
  color: #ffa95f;
}

.twitter-contact-container .socicon-twitter {
  font-size: 128px;
  position: relative;
  color: #4da7de;
}
.twitter-contact-container .heading-title {
  margin-bottom: 20px;
}
.twitter-contact-container li {
  list-style: none;
}
.twitter-contact-container .tweet_list {
  margin-bottom: 0;
}

#twitter-contact .twitter-text {
  font-family: Georgia, serif;
  color: #afafaf;
  font-style: italic;
  font-size: 16px;
}

#twitter-contact .twitter-text p {
  margin-bottom: 0;
}

#twitter-contact .twitter-text a,
#twitter-contact .twitter-text .at {
  color: #ff8d2c;
}

#twitter-contact .twitter-text a:hover,
#twitter-contact .twitter-text a:focus,
#twitter-contact .twitter-text .at:hover,
#twitter-contact .twitter-text .at:focus {
  color: #ffa95f;
}

.quote-note {
  background-image: url("../img/bg-testimonial.gif");
  background-repeat: repeat-y;
  border: solid 1px #dedede;
  padding: 26px 28px 23px 30px;
  position: relative;
}
.quote-note blockquote:before {
  display: none;
}

/* Pagination */
.pagination-container span {
  font-size: 13px;
  float: left;
  margin-right: 26px;
  padding: 15px 0px;
  line-height: 1;
}

.pagination {
  margin: 0;
}
.pagination li {
  display: inline-block;
  margin-right: 9px;
}
.pagination li > a {
  font-size: 12px;
  color: inherit;
  border: 1px solid #dedede;
  padding: 12px 16px;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.pagination li a:hover {
  border: 1px solid #ffa95f;
  background: #ffa95f;
}
.pagination li.active a {
  border: 1px solid #ff8d2c;
  background: #ff8d2c;
}
.pagination li.active a:hover {
  border: 1px solid #ff8d2c;
  background: #ff8d2c;
}

/* Comment List */
.commentlist-container {
  margin-top: 30px;
  margin-bottom: 60px;
}
.commentlist-container h4.heading-name {
  margin: 0;
  line-height: 1;
}
.commentlist-container ol {
  list-style: none;
}
.commentlist-container ol li {
  position: relative;
}
.commentlist-container ol li ol {
  margin: 0px 0px 20px 90px;
}
.commentlist-container .avatar {
  z-index: 99;
  position: absolute;
}

.commentlist li {
  position: relative;
  list-style: none;
  line-height: 28px;
  list-style-position: outside;
}

.avatar {
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: #dedede;
  top: 0;
  left: 0;
}

.avatar img {
  width: 70px;
  height: 70px;
}

.comment-text {
  background-color: #fcfcfc;
  border: solid 1px #dedede;
  margin-left: 90px;
  width: auto;
  margin-bottom: 30px;
  padding: 26px 30px 12px 30px;
  position: relative;
}
.comment-text .reply {
  right: 30px;
  top: 26px;
  color: #fff;
  padding: 1px 9px;
  font-size: 10px;
  position: absolute;
  background: #ff8d2c;
}

.comment-text h5 {
  margin-bottom: 0px;
}

.comment-text small {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.form-comment .button {
  margin-bottom: 0;
}
.form-comment input.form-control {
  width: 60%;
  display: inline-block;
}
.form-comment .label-required {
  width: 30%;
  font-weight: normal;
  margin-left: 16px;
  font-size: 12px;
}
.form-comment .label-required em {
  color: red;
}

/* Domain form */
#domain-form-container .inner-container {
  background: #42545e url(../img/bg-form-hosting.png) repeat repeat center center;
  padding: 29px 0;
}

#domain-list {
  margin-left: 5px;
  margin-right: -20px;
}
#domain-list li {
  padding: 0 10px 0;
}

.domain-price {
  background: #eeeeee;
  text-align: center;
  padding: 15px;
}
.domain-price span {
  font-size: 12px;
  line-height: 1;
  display: block;
  margin-top: 10px;
}
.domain-price .price {
  font-family: "Georgia", serif;
  font-style: italic;
  margin-top: 6px;
  color: #ff8d2c;
}

.search-domain {
  padding: 33px 0.625rem 32px;
  text-align: right;
}
.search-domain .button {
  margin-bottom: 0;
  border: none;
  padding: 16px 14px 15px 14px;
  position: relative;
  top: -1px;
  margin-right: 46px;
}
.search-domain .button span {
  background: #ff7f13;
  height: 48px;
  width: 48px;
  position: absolute;
  top: 0;
  right: -48px;
  line-height: 48px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.search-domain .button i {
  top: 0;
  margin-left: 0;
}
.search-domain .button:hover span {
  background: #ffa95f;
}
.search-domain .form-group {
  display: inline-block;
  margin-bottom: 0;
  width: auto;
}
.search-domain .form-group:last-child {
  margin-left: 20px;
}
.search-domain .input-domain {
  width: -moz-calc(100% - (88px + 144px));
  width: -webkit-calc(100% - (88px + 144px));
  width: -o-calc(100% - (88px + 144px));
  width: calc(100% - (88px + 144px));
  position: relative;
  z-index: 4;
}
.search-domain .list-domain-name {
  left: -4px;
  position: relative;
  z-index: 3;
}
.search-domain .list-domain-name .form-control {
  background: #eeeeee;
  color: #8d8c8c;
}
.search-domain .list-domain-name .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}

/* Service List */
.service-list .box-icon {
  padding: 55px 30px;
  position: relative;
  z-index: 3;
}
.service-list .box-icon .icon-shape {
  background: #ff8d2c;
  width: 70px;
  height: 70px;
  line-height: 70px;
}
.service-list .box-icon .icon-shape i {
  font-size: 32px;
  line-height: 70px;
}
.service-list .box-icon .icon-container {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

.overlay-bg-icon {
  font-size: 265px;
  position: absolute;
  right: -94px;
  bottom: -4px;
}
.overlay-bg-icon i {
  color: #eeeeee;
}

.service-list {
  text-align: center;
  margin-top: 50px;
}
.service-list p {
  opacity: 0;
  left: 0;
  position: absolute;
  display: block;
  padding: 0 30px;
  bottom: -30px;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.service-list .title-box {
  font-size: 22px;
  position: absolute;
  left: 0;
  bottom: -9px;
  width: 100%;
  text-align: center;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
}

.service-list li {
  position: relative;
  height: 235px;
  overflow: hidden;
}
.service-list li .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #f8f8f8;
  top: 1px;
  left: 1px;
  opacity: 0;
}
.service-list li:hover .overlay {
  opacity: 1;
}
.service-list li:hover p {
  opacity: 1;
  bottom: -20px;
}
.service-list li:hover .icon-container {
  opacity: 0;
}
.service-list li:hover .title-box {
  bottom: 98px;
}

ul.service-list li {
  background-image: linear-gradient(to bottom, #dedede 100%, #dedede 100%);
  background-position: left;
  background-size: 1px 4px;
  background-repeat: repeat-y;
  text-align: center;
}

ul.service-list li:before {
  background-image: linear-gradient(to right, #dedede 100%, #dedede 100%);
  background-position: top;
  background-size: 4px 1px;
  background-repeat: repeat-x;
  content: "";
  display: block;
  height: 1px;
}

ul.service-list li:nth-child(4n+1) {
  background-image: none;
}

ul.service-list li:nth-child(-n+4):before {
  background-image: none;
}

/* Pricing Plan */
.pricing-container {
  background: #ff8d2c url(../img/bg-pricing-plan.png) center center;
  padding: 44px 30px 44px 30px;
}
.pricing-container h3 {
  text-align: center;
  color: #fff;
  margin-top: 0;
  margin-bottom: 44px;
}

.pricing-table {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
}
.pricing-table.hot-price {
  position: relative;
}
.pricing-table.hot-price:before {
  content: "";
  background: url(../img/hot-price.png) no-repeat no-repeat center center;
  position: absolute;
  right: -3px;
  top: -3px;
  height: 52px;
  width: 52px;
}
.pricing-table .title {
  height: 120px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 72px;
  font-weight: 800;
  text-align: left;
  padding: 3px 0px;
  opacity: 0.05;
}
.pricing-table .price {
  height: 120px;
  font-family: "Raleway", sans-serif;
  margin-top: -120px;
  padding: 27px;
  font-size: 36px;
  color: #ff8d2c;
  background: #eeeeee;
}
.pricing-table .price .currency {
  font-size: 18px;
}
.pricing-table .price small {
  float: none;
  color: #a2a1a1;
  margin-left: 6px;
  font-size: 18px;
}
.pricing-table .box-icon {
  width: 100%;
}
.pricing-table .box-icon .icon-container {
  margin: 0;
}
.pricing-table .box-icon .icon-shape {
  line-height: 1;
  background: #646464;
}
.pricing-table .title-box {
  font-size: 22px;
  margin-bottom: 4px !important;
}
.pricing-table .description, .pricing-table .bullet-item {
  position: relative;
  padding: 7px 30px;
  color: #929292;
  font-weight: normal;
}
.pricing-table .description:after, .pricing-table .bullet-item:after {
  content: "";
  position: absolute;
  height: 1px;
  background: #dedede;
  width: 80%;
  bottom: 0;
  left: 10%;
}
.pricing-table .button {
  line-height: 1.42857;
}
.pricing-table .cta-button {
  background: #ffffff;
}

/* CMS Support Box */
.cms-support-container h3 {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
}
.cms-support-container .promo-box {
  padding-bottom: 50px;
}

#cms-support li {
  border-left: 2px solid #dedede;
  padding-bottom: 0;
}
#cms-support li:first-child {
  border: none;
}
#cms-support li img {
  text-align: center;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
#cms-support li:hover img {
  opacity: 0.5;
}

/* Reservation Form */
#reservation-hotel .inner-container {
  background: #f7f7f7;
  position: relative;
  padding: 38px 30px 70px 30px;
  border-bottom: 1px solid #dedede;
}
#reservation-hotel .reservation-icon {
  font-size: 33px;
  color: #ff8d2c;
  margin-bottom: 22px;
}
#reservation-hotel p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 20px;
  margin-bottom: 20px;
}
#reservation-hotel span {
  text-transform: uppercase;
  font-size: 12px;
  color: #939393;
}

.reservation-form-container {
  margin-top: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #ff8d2c;
  z-index: 999;
  padding: 40px 30px;
  margin-bottom: -1px;
}
.reservation-form-container h3 {
  color: #fff;
  margin-top: 0;
}
.reservation-form-container .button {
  background: #f87200;
}

/* Hotel Post */
.hotel-post {
  border: 1px solid #dedede;
  margin-bottom: 20px;
  position: relative;
}
.hotel-post .hotel-description {
  padding: 30px;
}
.hotel-post .hotel-description h4 {
  font-size: 18px;
  margin-top: 0;
}
.hotel-post .hotel-picture {
  margin: -1px -1px 0 -1px;
  text-align: center;
}
.hotel-post .hotel-picture:after {
  content: "";
  background: url(../img/pattern-hotel.png) repeat-x;
  height: 30px;
  width: 100%;
  position: relative;
  display: block;
}
.hotel-post li {
  border-right: 1px solid #ff8d2c;
  padding-right: 10px;
  margin-right: 10px;
  line-height: 1;
  display: inline-block;
}
.hotel-post li a {
  color: #ff8d2c;
  text-transform: uppercase;
  font-size: 11px;
}
.hotel-post li a:hover {
  color: #ffa95f;
}
.hotel-post li:last-child {
  border-right: none;
}
.hotel-post:after {
  content: "";
  background: #ff8d2c;
  height: 4px;
  left: -1px;
  bottom: -1px;
  width: -moz-calc(100% + 2px);
  width: -webkit-calc(100% + 2px);
  width: -o-calc(100% + 2px);
  width: calc(100% + 2px);
  position: absolute;
}

/* Hotel Facilites */
.hotel-facilities-container {
  padding: 34px 0;
  background: #ff8d2c url(../img/bg-hotel-facilities.png) no-repeat repeat top center;
}
.hotel-facilities-container h3, .hotel-facilities-container .title-box, .hotel-facilities-container p {
  color: #fff;
}
.hotel-facilities-container h3 {
  font-size: 32px;
  margin-bottom: 35px;
}
.hotel-facilities-container .box-icon {
  margin-bottom: 14px;
}
.hotel-facilities-container .box-icon .title-box {
  font-size: 18px;
}
.hotel-facilities-container .box-icon .icon-shape {
  background: #fff;
}
.hotel-facilities-container .box-icon .icon-shape i {
  color: #ff8d2c;
}
.hotel-facilities-container .box-icon.right .text-container {
  text-align: right;
  margin-right: 90px;
}
.hotel-facilities-container .box-icon.left .text-container {
  margin-left: 90px;
}

/* Event List */
.event-list li {
  margin-bottom: 30px;
  display: inline-block;
  clear: both;
}
.event-list li:last-child {
  margin-bottom: 0;
}
.event-list img, .event-list .date-event {
  float: left;
  width: 85px;
  height: 80px;
}
.event-list .date-event {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  background: #ff8d2c;
  color: #fff;
  padding: 8px 0;
}
.event-list .date-event small {
  font-size: 18px;
  display: block;
  font-weight: normal;
  margin-top: 5px;
}
.event-list .event-description {
  height: 80px;
  margin-left: 170px;
  padding: 0 18px;
  font-size: 18px;
}
.event-list .event-description a {
  font-family: "Raleway", sans-serif;
  color: inherit;
}
.event-list .event-description a:hover {
  color: #ffa95f;
}
.event-list .event-description span {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  color: #ff8d2c;
}

/* Map Hotel */
#mini-map {
  height: 267px;
  width: 100%;
}

/* Hotel Information List */
.hotelinfo-list li {
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
}
.hotelinfo-list i {
  top: 2px;
  position: relative;
  margin-right: 13px;
  color: #ff8d2c;
}

/* Panel Subscribe */
.panel-subscribe {
  margin-top: 20px;
  background: #f3f3f3;
  padding: 48px 30px 50px;
  position: relative;
}
.panel-subscribe:before, .panel-subscribe:after {
  content: "";
  background: url(../img/pattern-envelope.png) repeat-x;
  height: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.panel-subscribe:after {
  bottom: 0;
  top: auto;
}
.panel-subscribe h4 {
  margin-top: 0;
  font-size: 18px;
}
.panel-subscribe .input-group {
  display: table;
  position: relative;
  margin-bottom: 0;
  border-collapse: separate;
  width: 100%;
}
.panel-subscribe .input-group .fotm-control, .panel-subscribe .input-group .input-group-btn {
  display: table-cell;
  vertical-align: middle;
}
.panel-subscribe .input-group .form-control {
  padding: 14px;
  border-right: none;
  margin-right: 24px;
}
.panel-subscribe .button {
  margin-bottom: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: none;
  border: none;
  padding: 13px 15px;
}

/* hotel gallery sLider */
.hotel-slider {
  margin: 43px -15px 0 -15px;
  width: -moz-calc(100% + 30px);
  width: -webkit-calc(100% + 30px);
  width: -o-calc(100% + 30px);
  width: calc(100% + 30px);
}

.gallery-item {
  padding: 0 15px;
}
.gallery-item .home-slider-item img {
  margin-bottom: 2px;
}

/* scroll up style */
#scrollUp {
  bottom: 39px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 22px;
  line-height: 33px;
  background-color: #ff8d2c;
  color: #fff;
  text-align: center;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

#scrollUp:hover {
  background: #ffa95f;
}

#scrollUp i {
  position: relative;
  top: 7px;
  left: -1px;
}

.icon-margin {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

/* Icon List */
.large-12.column #demo-icon-list .resp-tabs-list {
  width: 20%;
}
.large-12.column #demo-icon-list .resp-tabs-container {
  width: 80%;
}

#demo-icon-list h4 {
  margin-bottom: 40px;
}
#demo-icon-list h4.resp-accordion {
  margin-bottom: 0;
}
#demo-icon-list .resp-tabs-container li:before, #demo-icon-list .resp-tabs-container li:after {
  content: "";
  clear: both;
}
#demo-icon-list .resp-tabs-container li span {
  width: 100%;
  padding: 3px 5px 4px 5px;
  font: 10px consolas, monospace;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ddd;
  float: left;
}
#demo-icon-list .resp-tabs-container li i {
  width: 100%;
  font-size: 32px;
  text-align: center;
  float: left;
  margin-bottom: 12px;
}

/*FF CSS Hack */
body:last-child .search-domain, x:-moz-any-link {
  padding-bottom: 0;
}

body:last-child .search-domain .list-domain-name, x:-moz-any-link {
  top: -18px;
}

body:last-child .search-domain .form-group:last-child, x:-moz-any-link {
  top: -18px;
  position: relative;
}

body:last-child .panel-subscribe .button, x:-moz-any-link {
  padding: 11px 15px;
}
