/* --------------------------------------------------------------------------
 *
 * file           : theme-switcher.css
 * Desc           : Foundstrap Theme Switcher
 * Version        : 1.0
 * Date           : 08/11/2014
 * Author         : Imam Firmansyah
 * Author URI     : http://imamfirmansyah.com
 * Email          : imamfirmansyah27@gmail.com
 *
 * Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
#theme-switcher {
  position: fixed;
  z-index: 999;
  top: 44px;
  left: -194px;
  min-width: 194px;
  background: #fff;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.15);
}
#theme-switcher .heading-switcher {
  height: 48px;
  display: block;
  padding: 13px;
}
#theme-switcher .container-switcher {
  padding: 0px 10px 20px;
}
#theme-switcher .footer-switcher {
  padding: 0px 10px 20px;
}
#theme-switcher .pattern-theme {
  margin-top: 15px;
  display: none;
}
#theme-switcher h4 {
  display: block;
  margin: 0;
  font-size: 16px;
  padding: 0;
  font-family: Arial, "sans-serif";
  font-weight: bold;
  text-transform: uppercase;
}
#theme-switcher h5 {
  font-size: 17px;
  margin-bottom: 15px;
}
#theme-switcher .form-control {
  height: 32px;
  padding: 0 10px;
  font-size: 14px;
}
#theme-switcher .option a {
  text-align: center;
  min-width: 55px;
  display: inline-block;
  background: #f7f7f7;
  padding: 5px 15px;
  font-size: 14px;
  margin-right: 10px;
  color: inherit;
}
#theme-switcher .option a.active, #theme-switcher .option a:hover {
  background: #ff8d2c;
  color: #fff;
}
#theme-switcher .reset {
  text-align: center;
  min-width: 55px;
  display: block;
  background: #ff8d2c;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
}
#theme-switcher ul {
  margin-top: 0;
  margin-bottom: 10px;
}
#theme-switcher ul li {
  padding: 0 5px 10px;
}
#theme-switcher span {
  display: block;
  height: 33px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#theme-switcher span:hover, #theme-switcher span:focus, #theme-switcher span.active {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
#theme-switcher #default {
  background: #ff8d2c;
}
#theme-switcher #blue {
  background: #29a7e4;
}
#theme-switcher #green {
  background: #41c28a;
}
#theme-switcher #yellow {
  background: #f1c40f;
}
#theme-switcher #red {
  background: #f15c44;
}
#theme-switcher #brown {
  background: #dbba69;
}
#theme-switcher #purple {
  background: #918cb7;
}
#theme-switcher #gray {
  background: #95a5a6;
}
#theme-switcher #pattern1 {
  background: url(theme/pattern/pattern1.png) repeat repeat;
}
#theme-switcher #pattern2 {
  background: url(theme/pattern/pattern2.png) repeat repeat;
}
#theme-switcher #pattern3 {
  background: url(theme/pattern/pattern3.png) repeat repeat;
}
#theme-switcher #pattern4 {
  background: url(theme/pattern/pattern4.png) repeat repeat;
}

#toggle-switcher {
  display: block;
  width: 50px;
  height: 50px;
  left: 192px;
  top: -1px;
  background: #fff;
  position: absolute;
  text-align: center;
  cursor: pointer;
  border: 1px solid #eaeaea;
  border-left: none;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#toggle-switcher i {
  font-size: 26px;
  line-height: 48px;
  color: #ff8d2c;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
#toggle-switcher:hover {
  background: #ff8d2c;
}
#toggle-switcher:hover i {
  color: #f7f7f7;
}
