/* --------------------------------------------------------------------------
 *
 * file           : theme-switcher.css
 * Desc           : Foundstrap Theme Switcher
 * Version        : 1.0
 * Date           : 08/11/2014
 * Author         : Imam Firmansyah
 * Author URI     : http://imamfirmansyah.com
 * Email          : imamfirmansyah27@gmail.com
 *
 * Copyright 2014. All Rights Reserved.
 * -------------------------------------------------------------------------- */
::selection {
  background: #dbba69;
}

::-moz-selection {
  background: #dbba69;
}

.logo-container img, .highlight, .dropcap.circle, .dropcap.square, .button, #testimonial-slider .owl-controls .owl-page.active span,
#testimonial-slider .owl-controls .owl-page:hover span, .heading-title.bottom-line:after, .slideshow .slider1-caption4 .button-slide1,
.slideshow .slider1-caption4 .button-slide2,
.slideshow .slider2-caption4 .button-slide1,
.slideshow .slider2-caption4 .button-slide2,
.slideshow .slider5-caption4 .button-slide1,
.slideshow .slider5-caption4 .button-slide2, .box-icon.small .icon-shape, .panel.fold, .footer-logo, .footer-menu a.active, .resp-tabs-top .resp-tabs-list li.resp-tab-active:before, .resp-tabs-top .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-bottom .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-left .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-left .resp-tabs-list li.resp-tab-active:hover:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:before,
.resp-tabs-right .resp-tabs-list li.resp-tab-active:hover:before, .resp-tabs-bottom .resp-tabs-list li.resp-tab-active:after, .resp-tabs-bottom .resp-tabs-list li.resp-tab-active:hover:after, h4.resp-accordion.resp-tab-active:before, .team-item.single-team .social-icon li, .promo-box:before, .badge, .tag-cloud a, .blog-info .image-blog-info, .mejs-container .mejs-time-rail .mejs-time-current, .sharing-box .social-icon li, .pagination li.active a, .pagination li.active a:hover, .service-list .box-icon .icon-shape, .reservation-form-container, .hotel-post:after, .event-list .date-event, #scrollUp, .comment-text .reply, .table th {
  background-color: #dbba69;
}

.button:hover, .button:focus, .button.button-group:hover span, .button.button-group:focus span, .button.button-group:active span, .button.button-group.active span, .slideshow .slider1-caption4 .button-slide1:hover,
.slideshow .slider1-caption4 .button-slide2:hover,
.slideshow .slider2-caption4 .button-slide1:hover,
.slideshow .slider2-caption4 .button-slide2:hover,
.slideshow .slider5-caption4 .button-slide1:hover,
.slideshow .slider5-caption4 .button-slide2:hover, .footer-menu a.active:hover, .tag-cloud a:hover, #scrollUp:hover, .search-domain .button:hover span,
.slideshow .slider5-caption4 .button-slide2:hover span, .pagination li a:hover, .comment-text .reply:hover {
  background-color: #ead6a7;
}

.epicon-menu a:hover,
.epicon-menu a:focus,
.epicon-menu a:active,
.epicon-menu a.highlighted, .epicon-menu ul a:hover,
.epicon-menu ul a:focus,
.epicon-menu ul a:active,
.epicon-menu ul a.highlighted, .epicon-menu a.active,
.epicon-menu a.current,
.epicon-menu a.current:hover,
.epicon-menu a.current:focus,
.epicon-menu a.current:active, .epicon-menu a:hover span.sub-arrow:after,
.epicon-menu a:focus span.sub-arrow:after,
.epicon-menu a:active span.sub-arrow:after,
.epicon-menu a.highlighted span.sub-arrow:after, .epicon-menu span.scroll-up:hover span.scroll-up-arrow:after, .epicon-menu span.scroll-down:hover span.scroll-down-arrow:after, .menu-trigger.active a,
.menu-trigger:hover a, .social-heading a:hover, .login-form-container .checkbox_flat, .epicon-color, #slideshow-container .tp-rightarrow.default:hover:before,
#slideshow-container .tp-leftarrow.default:hover:before, .blog-post-info a, #count-corporate .text-container p, footer i, .resp-tabs-top .resp-tabs-list li:hover,
.resp-tabs-bottom .resp-tabs-list li:hover,
.resp-tabs-left .resp-tabs-list li:hover,
.resp-tabs-right .resp-tabs-list li:hover, .resp-accordion h4.resp-accordion:hover,
h4.resp-accordion:hover, h4.resp-accordion.resp-tab-active:hover, .contact-info i, .popular-list a, #twitter-feed .twitter-text a,
#twitter-feed .twitter-text .at, #twitter-contact .twitter-text a,
#twitter-contact .twitter-text .at, .post-info i, .domain-price .price, .pricing-table .price, #reservation-hotel .reservation-icon, .hotel-post li a, .hotel-facilities-container .box-icon .icon-shape i, .event-list .event-description span, .hotelinfo-list i, #portfolio-filter .button-border.selected,
#portfolio-filter .button-border:hover, #page-header .breadcrumb li.active {
  color: #dbba69;
}

a:hover, .login:hover, .button-detail:hover, .blog-post-title h4:hover, footer a:hover, .popular-list a:hover, #twitter-feed .twitter-text a:hover,
#twitter-feed .twitter-text a:focus,
#twitter-feed .twitter-text .at:hover,
#twitter-feed .twitter-text .at:focus, #twitter-contact .twitter-text a:hover,
#twitter-contact .twitter-text a:focus,
#twitter-contact .twitter-text .at:hover,
#twitter-contact .twitter-text .at:focus, .event-list .event-description a:hover, .hotel-post li a:hover, .button.button-border.white:hover, .social-header a:hover, .attach-link a:hover, .social-icon.social-contact a:hover, .author-link:hover, .list-arrow a:hover,
.list-arrow-circle a:hover,
.list-circle-check a:hover, .post-info a:hover {
  color: #ead6a7;
}

.header-info, #features, #count-corporate {
  border-top: 4px solid #dbba69;
}

.button.button-group span {
  background: #d6b154;
}

.heading-title.line {
  border-left: 2px solid #dbba69;
}

#slideshow-container .tp-rightarrow.default,
#slideshow-container .tp-leftarrow.default {
  border-right: 4px solid #dbba69;
}

.slideshow {
  background: #fff;
}

.slideshow .slider3-box {
  background: rgba(219, 186, 105, 0.6);
}

.home-slider-nav .left-nav:hover, .home-slider-nav .right-nav:hover, .team-slider-nav .left-nav:hover, .team-slider-nav .right-nav:hover,
.blog-carousel-nav .left-nav:hover,
.blog-carousel-nav .right-nav:hover, .clientsay-slider-nav .left-nav:hover, .clientsay-slider-nav .right-nav:hover,
.hotel-slider-nav .left-nav:hover,
.hotel-slider-nav .right-nav:hover, .blog-slider-nav .left-nav:hover, .blog-slider-nav .right-nav:hover {
  border-color: #ead6a7;
}
.home-slider-nav .left-nav:hover i, .home-slider-nav .right-nav:hover i, .team-slider-nav .left-nav:hover i, .team-slider-nav .right-nav:hover i,
.blog-carousel-nav .left-nav:hover i,
.blog-carousel-nav .right-nav:hover i, .clientsay-slider-nav .left-nav:hover i, .clientsay-slider-nav .right-nav:hover i,
.hotel-slider-nav .left-nav:hover i,
.hotel-slider-nav .right-nav:hover i, .blog-slider-nav .left-nav:hover i, .blog-slider-nav .right-nav:hover i {
  color: #ead6a7;
}

.panel.fold:before {
  border-right-color: #cfa338;
}

.testimonial-item .testimonial-container {
  border-top: 1px solid #dbba69;
}

.circle-bar-container {
  background-color: #dbba69;
}

.form-control:focus {
  border-color: #dbba69;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 186, 105, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 186, 105, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(219, 186, 105, 0.6);
}

.pagination li.active a {
  border: 1px solid #dbba69;
}

.pagination li.active a:hover {
  border: 1px solid #dbba69;
}

.pricing-container {
  background-color: #dbba69;
}

.hotel-post li {
  border-right: 1px solid #dbba69;
}

.hotel-facilities-container {
  background-color: #dbba69;
}

.search-domain .button span,
.slideshow .slider5-caption4 .button-slide2 span {
  background: #d6b154;
}

.reservation-form-container .button {
  background: #d1a740;
}
.reservation-form-container .button:hover {
  background: #e5cd92;
}

.img-caption .img-content {
  background: rgba(219, 186, 105, 0.7);
}

#portfolio-filter .button-border.selected,
#portfolio-filter .button-border:hover {
  border: 1px solid #dbba69;
}

.pagination li a:hover {
  border: 1px solid #ead6a7;
}

.author-link {
  color: #dbba69 !important;
}

#page-header .breadcrumb a:hover {
  color: #dbba69 !important;
}

.team-item.single-team .social-icon li:hover a {
  color: #ead6a7 !important;
}

.post-info {
  border-color: #ead6a7;
}
